.projection-table {
  border-spacing: 0;
}
.projection-table-cell {
  font-size: large;
  padding: 16px;
  border: 0.25px solid #ccc;
  background-color: white;
}

.container {
  margin: 0 24px 24px;
  width: calc(100% - 48px);
  overflow-x: auto;
  position: relative;
  border: 0.25px solid #ccc;
}
.container table td:first-child {
  position: sticky;
  left: 0;
}
