<table class="projection-table">
  <tr>
    <td class="projection-table-cell"></td>
  </tr>
  <tr>
    <td class="projection-table-cell">Age</td>
  </tr>
  <tr>
    <td class="projection-table-cell">Start Balance</td>
  </tr>
  <tr>
    <td class="projection-table-cell">Contributions</td>
  </tr>
  <tr>
    <td class="projection-table-cell">Earnings</td>
  </tr>
  <tr>
    <td class="projection-table-cell">Fees</td>
  </tr>
  <tr>
    <td class="projection-table-cell">Tax</td>
  </tr>
  <tr>
    <td class="projection-table-cell">Withdrawals</td>
  </tr>
  <tr>
    <td class="projection-table-cell">End Balance</td>
  </tr>
  <tr></tr>
</table>
