<table class="projection-table">
  <tr>
    <td class="projection-table-cell">Year</td>
    <td class="projection-table-cell" *ngFor="let year of data.year">
      {{ year }}
    </td>
  </tr>
  <tr>
    <td class="projection-table-cell">Age</td>
    <td class="projection-table-cell" *ngFor="let age of data.age">
      {{ age }}
    </td>
  </tr>
  <tr>
    <td class="projection-table-cell">Start Balance</td>
    <td
      class="projection-table-cell"
      *ngFor="let startBalance of data.startBalance"
    >
      {{ startBalance | currency }}
    </td>
  </tr>
  <tr>
    <td class="projection-table-cell">Contributions</td>
    <td
      class="projection-table-cell"
      *ngFor="let contributions of data.contributions"
    >
      {{ contributions | currency }}
    </td>
  </tr>
  <tr>
    <td class="projection-table-cell">Earnings</td>
    <td class="projection-table-cell" *ngFor="let earnings of data.earnings">
      {{ earnings | currency }}
    </td>
  </tr>
  <tr>
    <td class="projection-table-cell">Fees</td>
    <td class="projection-table-cell" *ngFor="let fees of data.fees">
      {{ fees | currency }}
    </td>
  </tr>
  <tr>
    <td class="projection-table-cell">Tax</td>
    <td class="projection-table-cell" *ngFor="let tax of data.tax">
      {{ tax | currency }}
    </td>
  </tr>
  <tr>
    <td class="projection-table-cell">Withdrawals</td>
    <td
      class="projection-table-cell"
      *ngFor="let withdrawals of data.withdrawals"
    >
      {{ withdrawals | currency }}
    </td>
  </tr>
  <tr>
    <td class="projection-table-cell">End Balance</td>
    <td
      class="projection-table-cell"
      *ngFor="let endBalance of data.endBalance"
    >
      {{ endBalance | currency }}
    </td>
  </tr>
  <tr></tr>
</table>
