.page-wrapper {
  display: flex;
  min-height: 100%;
  min-width: 100%;
}
.container {
  margin: 16px;
  width: calc(100% - 222px);
}
.formField {
  margin: 0 8px 0 8px;
  width: calc(100% - 16px);
}
.inputs {
  background-color: #ddd;
  padding: 16px 8px 16px 8px;
  width: 200px;
  display: flex;
  flex-direction: column;
}
